In [1]:
%config IPCompleter.greedy=True

In [2]:
from keras.models import load_model

In [4]:
model = load_model("tf_fraud_detect_model")

In [5]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_4 (Conv1D)            (None, 29, 32)            96
_________________________________________________________________
batch_normalization_4 (Batch (None, 29, 32)            128
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 14, 32)            0
_________________________________________________________________
dropout_6 (Dropout)          (None, 14, 32)            0
_________________________________________________________________
conv1d_5 (Conv1D)            (None, 13, 64)            4160
_________________________________________________________________
batch_normalization_5 (Batch (None, 13, 64)            256
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 6, 64)             0
_________________________________________________________________
dropout_7 (Dropout)          (None, 6, 64)             0
_________________________________________________________________
conv1d_6 (Conv1D)            (None, 5, 64)             8256
_________________________________________________________________
batch_normalization_6 (Batch (None, 5, 64)             256
_________________________________________________________________
max_pooling1d_3 (MaxPooling1 (None, 2, 64)             0
_________________________________________________________________
dropout_8 (Dropout)          (None, 2, 64)             0
_________________________________________________________________
flatten_2 (Flatten)          (None, 128)               0
_________________________________________________________________
dropout_9 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_3 (Dense)              (None, 256)               33024
_________________________________________________________________
dropout_10 (Dropout)         (None, 256)               0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 257
=================================================================
Total params: 46,433
Trainable params: 46,113
Non-trainable params: 320
_________________________________________________________________

In [6]:
import pandas as pd
import numpy as np

data = pd.read_csv("creditcard.csv")
data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

scalar = StandardScaler()

X = data.drop('Class', axis=1)
y = data.Class

X_train_v, X_test, y_train_v, y_test = train_test_split(X, y, 
                                                    test_size=0.3, random_state=42)
X_train, X_validate, y_train, y_validate = train_test_split(X_train_v, y_train_v, 
                                                            test_size=0.2, random_state=42)

X_train = scalar.fit_transform(X_train)
X_validate = scalar.transform(X_validate)
X_test = scalar.transform(X_test)

In [8]:
print(f"TRAINING: X_train: {X_train.shape}, y_train: {y_train.shape}\n{'_'*55}")
print(f"VALIDATION: X_validate: {X_validate.shape}, y_validate: {y_validate.shape}\n{'_'*50}")
print(f"TESTING: X_test: {X_test.shape}, y_test: {y_test.shape}")

TRAINING: X_train: (159491, 30), y_train: (159491,)
_______________________________________________________
VALIDATION: X_validate: (39873, 30), y_validate: (39873,)
__________________________________________________
TESTING: X_test: (85443, 30), y_test: (85443,)

In [9]:
X_train_d = np.expand_dims(X_train, -1)
X_test_d = np.expand_dims(X_test, -1)
X_validate_d = np.expand_dims(X_validate, -1)

In [10]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score

def print_score(label, prediction, train=True):
    if train:
        print("Train Result:\n================================================")
        print(f"Accuracy Score: {accuracy_score(label, prediction) * 100:.2f}%")
        print("_______________________________________________")
        print("Classification Report:", end='')
        print(f"\tPrecision Score: {precision_score(label, prediction) * 100:.2f}%")
        print(f"\t\t\tRecall Score: {recall_score(label, prediction) * 100:.2f}%")
        print(f"\t\t\tF1 score: {f1_score(label, prediction) * 100:.2f}%")
        print("_______________________________________________")
        print(f"Confusion Matrix: \n {confusion_matrix(y_train, prediction)}\n")
        
    elif train==False:
        print("Test Result:\n================================================")        
        print(f"Accuracy Score: {accuracy_score(label, prediction) * 100:.2f}%")
        print("_______________________________________________")
        print("Classification Report:", end='')
        print(f"\tPrecision Score: {precision_score(label, prediction) * 100:.2f}%")
        print(f"\t\t\tRecall Score: {recall_score(label, prediction) * 100:.2f}%")
        print(f"\t\t\tF1 score: {f1_score(label, prediction) * 100:.2f}%")
        print("_______________________________________________")
        print(f"Confusion Matrix: \n {confusion_matrix(label, prediction)}\n")

In [28]:
y_train_pred = model.predict(X_train_d)
y_test_pred = model.predict(X_test_d)

print_score(y_train, y_train_pred.round(), train=True)
print_score(y_test, y_test_pred.round(), train=False)

Train Result:
================================================
Accuracy Score: 99.94%
_______________________________________________
Classification Report:	Precision Score: 82.98%
			Recall Score: 81.53%
			F1 score: 82.25%
_______________________________________________
Confusion Matrix:
 [[159156     48]
 [    53    234]]

Test Result:
================================================
Accuracy Score: 99.94%
_______________________________________________
Classification Report:	Precision Score: 78.91%
			Recall Score: 85.29%
			F1 score: 81.98%
_______________________________________________
Confusion Matrix:
 [[85276    31]
 [   20   116]]

In [26]:
# model.predict(X_test_d)
type(X_test_d[0])

numpy.ndarray